<div class="property-card" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="15px">
	<div class="card-img">
		<img [routerLink]="['../','detail', propertyData.id]"
			[src]="propertyData.primaryPhoto ? staticFileUrl + '/' + propertyData.primaryPhoto : defaultImagePath" alt=""
			class="cursor-pointer">
	</div>
	<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" class="w-100">
		<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" class="w-100">
			<div class="m-0 text-lg font-medium white-space-nowrap text-overflow-ellipsis overflow-hidden property-title">
				<a [routerLink]="['../','detail', propertyData.id]">{{propertyData.name}}</a>
			</div>
			<!-- <i class="pi pi-heart text-red-400 favorite-icon"></i> -->
		</div>
		<div class="w-100">
			<div class="m-0 text-sm white-space-nowrap text-overflow-ellipsis overflow-hidden">
				{{propertyData.city + ', ' + propertyData.country}}
			</div>
		</div>
		<div fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="5px" class="w-100">
			<p class="m-0 text-xs text-black-50">{{propertyData.postedOn | dateAgo}}</p>
			<p class="m-0 text-lg font-medium">{{(propertyData.rentPrice + (propertyData.otherCost ?? 0)) |
				currency : 'USD' : 'symbol' : '1.0-0'}}</p>
		</div>
	</div>
</div>
