<div class="card mb-2 p-3 border-blue-200">
	<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" fxLayoutGap="20px"
		fxLayoutAlign.lt-md="start center">
		<div fxLayout="column" fxLayoutAlign="start start">
			<p-image [src]="propertyData.primaryPhoto ? staticFileUrl + '/' + propertyData.primaryPhoto : defaultImagePath"
				alt="" width="250px" [preview]="true"></p-image>

			<div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 bg-light p-2 shadow-sm">
				<div>
					<h5 class="m-0">{{(propertyData.rentPrice + (propertyData.otherCost ?? 0)) |
						currency : 'USD' : 'symbol' : '1.0-0'}}</h5>
				</div>
				<h6 class="text-black-50 m-0">Posted {{propertyData.postedOn | dateAgo}}</h6>
			</div>
		</div>
		<div fxLayout="row" fxLayout.lt-md="column" fxFlex="70" fxLayoutAlign="space-between center" fxLayoutGap="20px">
			<div fxLayout="column" fxLayoutAlign="space-around start" fxFlex fxLayoutGap="10px">
				<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutGap="20px"
					class="w-100">
					<h3 class="m-0"><a [routerLink]="['../../../','property','detail', propertyData.id]">{{propertyData.name}}</a>
					</h3>
					<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="m-0 p-0">
						<button pButton pRipple type="button" class="p-button-success p-button-raised p-button-outlined p-button-sm"
							(click)="onChangeStatus($event)" [loading]="isPropertyStatusUpdateInProgress" label="Change Status"
							[disabled]="propertyData.status === 'C'"></button>
						<button pButton pRipple type="button" icon="fas fa-edit"
							class="p-button-rounded p-button-success p-button-raised" (click)="openPropertyEditDialog()"
							[disabled]="propertyData.status === 'C'"></button>
						<button pButton pRipple type="button" icon="fas fa-trash"
							class="p-button-rounded p-button-danger p-button-raised" (click)="onClickDeleteProperty()"
							[loading]="isDeleteInProgress" [disabled]="propertyData.status === 'C'"></button>
					</div>
				</div>

				<div fxLayout="row" fxLayoutAlign="space-between start" class="w-100">
					<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
						<div class="font-medium"><i class="fa-solid fa-bed mr-1 text-blue-900"
								title="Bedroom"></i>{{propertyData.bedroom}}</div>
						<div *ngIf="propertyData.bathroom" class="font-medium"><i class="fa-solid fa-bath mr-1 text-blue-900"
								title="Bathroom"></i>{{propertyData.bathroom}}</div>
						<div *ngIf="propertyData.commonSpace" class="font-medium"><i
								class="fa-solid fa-people-line mr-1 text-blue-900" title="Common Space"></i>{{propertyData.commonSpace}}
						</div>
					</div>
					<div fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="5px">
						<div class="font-medium"><i
								class="fa-solid fa-truck-ramp-box mr-1 text-blue-900"></i>{{propertyData.sellRent === sellRent.Sell ?
							"Sell" : "Rent"}}</div>
						<div class="font-medium"><i
								class="fa-solid fa-building mr-1 text-blue-900"></i>{{propertyData.propertyType}}</div>
						<div class="font-medium"><i class="fa-solid fa-couch mr-1 text-blue-900"></i>
							{{propertyData.furnishingType}}</div>
					</div>
				</div>
				<div fxLayout="row" fxLayout.lt-md="row" fxLayoutAlign="space-between start" fxLayoutGap="5px" class="w-full">
					<div class="font-medium"><i class="pi pi-bookmark-fill text-blue-900"></i> {{propertyData.city}},
						{{propertyData.country}}</div>
					<div>
						<ng-container [ngSwitch]="propertyData.status">
							<p-tag *ngSwitchCase="'A'" value="Active" severity="success"></p-tag>
							<p-tag *ngSwitchCase="'D'" value="Draft" severity="warning"></p-tag>
							<p-tag *ngSwitchCase="'C'" [value]="propertyData.sellRent === 1 ? 'Sold' : 'Rented'"
								severity="info"></p-tag>
						</ng-container>
					</div>
				</div>
				<div class="font-medium"><i class="pi pi-bookmark-fill text-blue-900"></i> Floor No: {{propertyData.floor}}
				</div>
				<div class="font-medium"><i class="fa-solid fa-square mr-1 text-blue-900" title="Area"></i>{{propertyData.area |
					number}}
					Ft.<sup>2</sup></div>
			</div>
		</div>

	</div>
</div>
<p-confirmPopup key="changePropertyStatus{{propertyData.id}}"></p-confirmPopup>
