<div class="card">
	<div class="flex flex-row gap-2 overflow-scroll pb-2">
		<div class="property-card-container min-w-max" *ngFor="let _ of [1,2,3,4,5,6,7,8]">
			<div class="property-card-image">
				<img src="https://cdn.pixabay.com/photo/2016/08/05/17/32/new-1572747_1280.jpg" alt="Card image" />
				<div class="property-card-overlay"></div>
			</div>
			<div class="property-card-content">
				<h4>Card Content</h4>
				<p>Your card content goes here...</p>
			</div>
		</div>
	</div>

</div>


