<div class=" flex flex-row align-items-center justify-content-between gap-2">
	<div>
		<p-button icon="pi pi-arrow-circle-left" (onClick)="scrollLeft()"
			styleClass="p-button-icon-only p-button-rounded p-button-text"></p-button>
	</div>
	<div class="flex flex-row gap-2 overflow-scroll pb-2 property-card-scroller-container" #widgetsContent>
		<ng-container *ngIf="!isDataLoading">
			<div class="property-card-container min-w-max" *ngFor="let propertyData of myPropertyList; let index = index"
				[ngClass]="{'selected': index === selectedPropertyIndex}" (click)="onClickProperty(index)">
				<div class="property-card-image">
					<img [src]="propertyData.primaryPhoto ? staticFileUrl + '/' + propertyData.primaryPhoto : defaultImagePath"
						alt="Property image" />
					<div class="property-card-overlay"></div>
				</div>
				<div class="property-card-content">
					<div class="text-lg font-medium">{{propertyData.name}}</div>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="isDataLoading">
			<div *ngFor="let _ of [1, 2, 3]">
				<p-skeleton width="200px" height="100%"></p-skeleton>
			</div>
		</ng-container>
	</div>
	<div>
		<p-button icon="pi pi-arrow-circle-right" (onClick)="scrollRight()"
			styleClass="p-button-icon-only p-button-rounded p-button-text"></p-button>
	</div>
	<!-- <p-button label="Click" (onClick)="scrollLeft()"></p-button>
	<p-button label="Click" (onClick)="scrollRight()"></p-button> -->

</div>
