<div class="card">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-2">
        <h5 class="m-0" style="color: var(--blue-500);" fxLayout="row" fxLayoutAlign="start start"
            fxLayoutAlign.lt-md="center center">
            My Property List
        </h5>
        <button pButton pRipple type="button" icon="pi pi-plus" style="background-color: var(--blue-500);"
                (click)="openPropertyEditDialog()"></button>
    </div>

    <ng-container *ngIf="!isDataLoading">
        <span *ngFor="let property of myPropertyList">
            <app-my-property-card [propertyData]="property"
                                  (openPropertyEditDialogEvent)="openPropertyEditDialog(property.id)"></app-my-property-card>
        </span>
        <div>
            <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="rowsPerPageOptions"
                         dropdownAppendTo="body"></p-paginator>
        </div>
    </ng-container>

    <div *ngIf="isDataLoading">
        <div class="card mb-2 p-3">
            <p-skeleton styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="4rem"></p-skeleton>
        </div>
        <div class="card mb-2 p-3">
            <p-skeleton styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="4rem"></p-skeleton>
        </div>
        <div class="card mb-2 p-3">
            <p-skeleton styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="4rem"></p-skeleton>
        </div>
    </div>
</div>
<ng-container *ngIf="showPropertyEditDialog">
    <p-dialog header="Add Property" [(visible)]="showPropertyEditDialog" [style]="{'width': '650px'}"
              (onHide)="showPropertyEditDialog = false"
              appendTo="body" [modal]="true">
        <app-add-property-dialog [editPropertyId]="idForEditProperty"
                                 (closeAddPropertyDialogEvent)="onClosePropertyAddDialog($event)"></app-add-property-dialog>
    </p-dialog>
</ng-container>
