<div class="card" fxLayout="column" fxLayoutGap="10px">
	<div fxLayout="row wrap" fxLayout.lt-md="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="5px"
		class="mb-3">
		<div>
			<h4 style="color: var(--blue-500);" class="h-full m-0">{{propertyData.name}}</h4>
			<p class="text-sm ml-1">
				{{propertyData.streetAddress + ', ' + propertyData.city + ', ' +
				propertyData.country}}
			</p>
		</div>
		<!-- <h4 style="color: var(--blue-500);" class="h-full m-0">{{propertyData.name}}</h4> -->
		<p-button label="Contact Owner" icon="fas fa-envelope" class="p-button-info"
			*ngIf="!isThisUsersProperty && propertyData.status === 'A'" (onClick)="onClickContactOwner()"></p-button>
		<div *ngIf="propertyData.status !== 'A'">
			<ng-container [ngSwitch]="propertyData.status">
				<p-tag *ngSwitchCase="'D'" value="Draft" severity="warning"></p-tag>
				<p-tag *ngSwitchCase="'C'" [value]="propertyData.sellRent === 1 ? 'Sold' : 'Rented'" severity="info" styleClass="text-base"></p-tag>
			</ng-container>
		</div>
	</div>
	<!-- <span >This user's property</span> -->
	<div class="" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="10px"
		fxLayoutAlign.gt-md="space-between center" fxLayoutAlign.lt-md="space-between start">
		<div class="min-h-0 h-full mb-0 w-full" fxFlex.gt-md="50" fxFlex.lt-md="100" fxLayout="column"
			fxLayoutAlign="start center">
			<div *ngIf="photos.length > 0; else noPhotoTemplate" class="w-full gallery-container">
				<p-galleria [value]="photos" [showItemNavigators]="true" [showThumbnails]="false">
					<ng-template pTemplate="item" let-item>
						<div class="item">
							<img class="cover" [src]="staticFileUrl + '/' + item.imageUrl" style="height: 350px; width: 100%;" />
						</div>

					</ng-template>
					<ng-template pTemplate="thumbnail" let-item>
						<div class="grid grid-nogutter">
							<img [src]="staticFileUrl + '/' + item.imageUrl" style="display: block;" />
						</div>
					</ng-template>
				</p-galleria>
			</div>
			<ng-template #noPhotoTemplate>
				<div class="card h-full w-full align-items-center justify-content-center">
					<h4 class="vertical-align-middle">No Photo for this Property</h4>
				</div>
			</ng-template>
			<p-button *ngIf="photos.length > 0" styleClass="p-button-sm p-button-info p-button-outlined" icon="pi pi-clone"
				title="Open Gallery" label="Open Gallery" (onClick)="displayFullScreenGallery = true"></p-button>
		</div>
		<div class="p-2 min-h-0 h-full mb-0" fxFlex.gt-md="50" fxFlex.lt-md="100" fxLayout="column">
			<h6 class="text-lg font-bold">Types</h6>
			<div fxLayout="row wrap" fxLayout.lt-md="row wrap" fxLayoutGap="5px">
				<div class="type-detail-small-card" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="10px"
					fxLayoutAlign="center center">
					<div fxLayout="row" fxLayoutAlign="center center">
						<i class="fa-solid fa-truck-ramp-box mr-1 text-lg font-semibold"></i>
					</div>
					<div class="text-lg font-medium">{{propertyData.sellRent === SellRent.Sell ? "Sell" : "Rent"}}</div>
				</div>
				<div class="type-detail-small-card" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="10px"
					fxLayoutAlign="center center">
					<div fxLayout="row" fxLayoutAlign="center center">
						<i class="fa-solid fa-building mr-1 text-lg font-semibold"></i>
					</div>
					<div class="text-lg font-medium">{{propertyData.propertyType}}</div>
				</div>
				<div class="type-detail-small-card" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="10px"
					fxLayoutAlign="center center">
					<div fxLayout="row" fxLayoutAlign="center center">
						<i class="fa-solid fa-couch mr-1 text-lg font-semibold"></i>
					</div>
					<div class="text-lg font-medium">{{propertyData.furnishingType}}</div>
				</div>
				<!-- <div><i class="fa-solid fa-building mr-1"></i>House</div>
                    <div><i class="fa-solid fa-couch mr-1"></i> Fully Furnished</div> -->
			</div>
			<h6 class="text-lg font-bold">Rooms</h6>
			<div fxLayout="row wrap" fxLayout.lt-md="row wrap" fxLayoutGap="5px">
				<div class="type-detail-small-card" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="10px"
					fxLayoutAlign="center center">
					<div fxLayout="row" fxLayoutAlign="center center" pTooltip="Bedroom" tooltipPosition="top">
						<i class="fa-solid fa-bed mr-1 text-lg font-semibold"></i>
					</div>
					<div class="text-lg font-medium">{{propertyData.bedroom}}</div>
				</div>
				<div class="type-detail-small-card" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center"
					*ngIf="propertyData.bathroom">
					<div fxLayout="row" fxLayoutAlign="center center" pTooltip="Bathroom" tooltipPosition="top">
						<i class="fa-solid fa-bath mr-1 text-lg font-semibold"></i>
					</div>
					<div class="text-lg font-medium">{{propertyData.bathroom}}</div>
				</div>
				<div class="type-detail-small-card" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center"
					*ngIf="propertyData.commonSpace">
					<div fxLayout="row" fxLayoutAlign="center center" pTooltip="Common Space" tooltipPosition="top">
						<i class="fa-solid fa-people-line mr-1 text-lg font-semibold"></i>
					</div>
					<div class="text-lg font-medium">{{propertyData.commonSpace}}</div>
				</div>
			</div>

			<h6 class="text-lg font-bold">Floor</h6>
			<div fxLayout="row wrap" fxLayout.lt-md="row wrap" fxLayoutGap="5px">
				<div class="type-detail-small-card" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="10px"
					fxLayoutAlign="center center">
					<div fxLayout="row" fxLayoutAlign="center center">
						<i class="fa-solid fa-table-list mr-1 text-lg font-semibold" pTooltip="Floor" tooltipPosition="top"></i>
					</div>
					<!-- <div class="text-lg font-medium">{{propertyData.floor + '/' +propertyData.totalFloor}}</div> -->
					<div class="text-lg font-medium">On {{propertyData.floor}}<sup>{{propertyData.floor | ordinal:false}}</sup>
						floor of {{propertyData.totalFloor}} storied building</div>
				</div>
				<!-- <div class="type-detail-small-card" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
					<div fxLayout="row" fxLayoutAlign="center center"  pTooltip="On floor" tooltipPosition="top">
						<i class="fa-solid fa-right-to-bracket mr-1 text-lg font-semibold"></i>
					</div>
					<div class="text-lg font-medium">{{propertyData.floor}}</div>
				</div> -->
				<div class="type-detail-small-card" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
					<div fxLayout="row" fxLayoutAlign="center center" pTooltip="Area" tooltipPosition="top">
						<i class="fa-solid fa-ruler-combined mr-1 text-lg font-semibold"></i>
					</div>
					<div class="text-lg font-medium">{{propertyData.area | number}} Ft.<sup>2</sup></div>
				</div>
			</div>
			<!-- <div class="h-5rem">
                <h6 class="mb-0">Rooms</h6>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                    <div><i class="fa-solid fa-bed mr-1" title="Bedroom"></i>{{propertyData.bedroom}}</div>
                    <div *ngIf="propertyData.bathroom"><i class="fa-solid fa-bath mr-1"
                            title="Bathroom"></i>{{propertyData.bathroom}}</div>
                    <div *ngIf="propertyData.commonSpace"><i class="fa-solid fa-people-line mr-1"
                            title="Common Space"></i>{{propertyData.commonSpace}}</div>
                </div>
            </div> -->
			<!-- <div class="h-5rem">
                <h6 class="mb-0">Address</h6>
                <i class="fa-solid fa-map-location"></i> {{propertyData.streetAddress}}, {{propertyData.city}}
                , {{propertyData.country}}
            </div> -->
			<h6 class="text-lg font-bold">Features</h6>
			<div fxLayout="row wrap" fxLayout.lt-md="row wrap" fxLayoutGap="5px">
				<div class="type-detail-small-card" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="10px"
					fxLayoutAlign="center center">
					<div fxLayout="row" fxLayoutAlign="center center">
						<i class="fa-solid mr-1 text-lg font-semibold"
							[ngClass]="propertyData.gym ? 'fa-check text-success' : 'fa-xmark text-danger'"></i>
					</div>
					<div class="text-lg font-medium">Gym</div>
				</div>
				<div class="type-detail-small-card" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="10px"
					fxLayoutAlign="center center">
					<div fxLayout="row" fxLayoutAlign="center center">
						<i class="fa-solid mr-1 text-lg font-semibold"
							[ngClass]="propertyData.parking ? 'fa-check text-success' : 'fa-xmark text-danger'"></i>
					</div>
					<div class="text-lg font-medium">Parking</div>
				</div>
				<div class="type-detail-small-card" fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="10px"
					fxLayoutAlign="center center">
					<div fxLayout="row" fxLayoutAlign="center center">
						<i class="fa-solid mr-1 text-lg font-semibold"
							[ngClass]="propertyData.swimmingPool ? 'fa-check text-success' : 'fa-xmark text-danger'"></i>
					</div>
					<div class="text-lg font-medium">Pool</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w-100 text-right h-1rem text-md font-medium">{{ismapZoomEnabled ? 'Zoom Enabled' : ''}}</div>
	<div class="mb-3 align-items-center justify-content-center">
		<!-- <h6>Map</h6> -->
		<!-- <span *ngIf="propertyData.description; else noDescription">{{propertyData.description}}</span>
        <ng-template #noDescription>No Description</ng-template> -->
		<div class="map-container">
			<div class="map-frame">
				<div id="map"></div>
			</div>
		</div>
	</div>
	<div class="mt-3" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="20px">
		<div class="card min-h-0 w-full mb-3" fxFlex.gt-md="70" fxFlex.lt-md="100" fxLayout="column">
			<h6 class="text-lg font-bold">Description</h6>
			<!-- <p-editor styleClass="w-100" formControlName="description"></p-editor> -->
			<div *ngIf="propertyData.description; else noDescription" [innerHTML]="propertyData.description">
				<!-- {{propertyData.description}} -->
			</div>
			<ng-template #noDescription>No Description</ng-template>
		</div>

		<div class="card min-h-0 price-card" fxFlex.gt-md="30" fxFlex.lt-md="100" fxLayout="column"
			fxLayoutAlign="center center">
			<div>
				<h6 class="text-xl font-bold">Price</h6>
			</div>
			<div class="w-full" fxLayout="column" fxLayoutAlign="center center">
				<div class="w-full p-3" fxLayout="column" fxLayoutAlign="center center">
					<div class="text-5xl font-bold text-center">{{(propertyData.rentPrice + (propertyData.otherCost ?? 0)) |
						currency : 'USD' : 'symbol' : '1.0-0'}}</div>
				</div>
				<div class="w-full" fxLayout="column">
					<div class="text-lg font-medium w-full" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="10px">
						<div>Rent Price</div>
						<div>{{propertyData.rentPrice | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
					</div>
					<div class="text-base font-medium w-full" fxLayout="row" fxLayoutAlign="space-around start"
						fxLayoutGap="10px">
						<div>Other Cost</div>
						<div>{{propertyData.otherCost ?? 0 | currency : 'USD' : 'symbol' : '1.0-0'}}</div>
					</div>
				</div>
			</div>

			<!-- <span *ngIf="propertyData.description; else noDescription">{{propertyData.description}}</span>
            <ng-template #noDescription>No Description</ng-template> -->
		</div>

	</div>
</div>

<p-galleria [(visible)]="displayFullScreenGallery" [value]="photos" [showItemNavigators]="true" [showThumbnails]="true"
	[fullScreen]="true" [baseZIndex]="100000">
	<ng-template pTemplate="item" let-item>
		<div class="item">
			<img [src]="staticFileUrl + '/' + item.imageUrl" style="height: 350px; width: 100%;" />
		</div>

	</ng-template>
	<ng-template pTemplate="thumbnail" let-item>
		<div class="grid grid-nogutter justify-content-center">
			<img [src]="staticFileUrl + '/' + item.imageUrl" style="display: block; height: 50px;" />
		</div>
	</ng-template>
</p-galleria>
<app-login-register-unauthorized-modal [(isLoginRegisterModalVisible)]="isLoginRegisterModalVisible"
	*ngIf="!isLoggedIn"></app-login-register-unauthorized-modal>
<app-visiting-request-modal [(isVisitingRequestModalVisible)]="isVisitingRequestModalVisible" [propertyId]="propertyId"
	*ngIf="isLoggedIn && isVisitingRequestModalVisible"></app-visiting-request-modal>
