.brh-navbar {
    background-color: #171717;
    border: none;
    margin: 0;
}

.brh-navbar-brand {
    color: white;
}

.brh-nav-item {
    color: white;
}

.brh-nav-item.active {
    color: gray;
}
