<nav class="navbar navbar-expand-lg fixed-top brh-navbar">
    <div class="container-fluid">
        <a class="navbar-brand brh-navbar-brand" routerLink="/"><h5>Buy-Rent Home</h5></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link brh-nav-item" aria-current="page" routerLink="/" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}"><h6>Buy</h6></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link brh-nav-item" routerLink="/rent-property" routerLinkActive="active"><h6>Rent</h6></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link brh-nav-item" routerLink="/add-property" routerLinkActive="active"><h6>List Property (Free)</h6></a>
                </li>
            </ul>
            <div>
                <ul class="nav navbar-nav">
                    <li class="nav-item" *ngIf="!loggedIn()">
                        <a class="nav-link brh-nav-item"
                           routerLink="user/register"
                           routerLinkActive="active"
                        ><h6>Register</h6></a>
                    </li>
                    <li class="nav-item" *ngIf="!loggedIn()">
                        <a class="nav-link brh-nav-item"
                           routerLink="user/login"
                           routerLinkActive="active"
                        ><h6>Login</h6></a>
                    </li>
                    <!--                    <li class="nav-item" *ngIf="loggedIn()">-->
                    <!--                        <a class="nav-link" (click)="onLogout()">Logout</a>-->
                    <!--                    </li>-->
                    <div *ngIf="loggedIn()" class="dropdown me-5" dropdown>
                        <h6>
                            <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
                                Welcome {{loggedInUser}}
                            </a>
                        </h6>
                        <div class="dropdown-menu" *dropdownMenu>
                            <a href="#" class="dropdown-item">
                                <i class="fa-solid fa-tachometer-alt"></i> View Dashboard
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="fa-solid fa-user-circle"></i> My Profile
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="fa-solid fa-key"></i> Change Password
                            </a>
                            <a (click)="onLogout()" class="dropdown-item">
                                <i class="fa-solid fa-sign-out-alt"></i> Logout
                            </a>

                        </div>
                    </div>

                </ul>
            </div>
        </div>
    </div>
</nav>
