/* :host ::ng-deep {
	.selected-date {
		background: #2b377b;
    color: white;
	}
} */

:host ::ng-deep {
	.p-datepicker.p-component.p-datepicker-inline {
		border: 0;
	}

	.active-time-slot {
		margin-bottom: 20px;
		background: #2b377b;
		color: white;
	}

	.p-button.p-button-sm .p-button-icon{
		font-size: 1rem !important;
	}
}
