.property-title {
    color: var(--bs-indigo);
}
.property-location {
    color: #6f42c1;
}

.furnish-type-row {
    margin-top: 10px;
}

.furnish-type-col {
    padding: 6px 7px;
    border-radius: 15px;
    background: var(--primary-200);
    margin: 1px auto;
    text-align: center;
    min-height: 60px;
}

.price-area-row {
    text-align: center;
    margin: 0;
    padding: 10px 15px;
    margin-top: 10px;
    background: var(--primary-200);
    border-radius: 20px;
}
.card {
    min-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 1px;
}

.card-body h3 {
    font-family: fantasy;
    color: #0069d9;
}


.font-highlight {
    font-style: italic;
    color: red;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.card img {
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 200px;
    object-fit: cover;
}

.member-icons {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.animate {
    transition: all 0.3s ease-in-out;
}
