<!-- {{visitingRequestDetail | json}} -->

<div class="p-4" *ngIf="visitingRequestDetail">
	<div class="w-full h-5rem flex justify-content-between vertical-align-middle">
		<div class="h-full flex align-items-center justify-content-center gap-3">
			<div><i class="fa-solid fa-square-check text-green-400 text-6xl"></i></div>
			<div class="text-xl">You have requested a tour</div>
		</div>
		<div
			class="w-8rem h-full bg-blue-100 text-xl flex align-items-center justify-content-center p-3 border-round-md text-center"
			[visitingRequestStatusBg]="visitingRequestDetail.status">
			{{visitingRequestDetail.status | valueToLabel: visitingRequestStatusList}}</div>
	</div>
	<div class="mt-4 flex gap-4">
		<div><i class="fa-solid fa-calendar-days text-3xl"></i></div>
		<div class="text-xl">
			<div>{{visitingRequestDetail.startTime | date: 'h:mm a'}} - {{visitingRequestDetail.endTime | date: 'h:mm
				a' }}
			</div>
			<div>{{visitingRequestDetail.dateOn | date: 'EEEE, MMMM d, y'}}</div>
		</div>
	</div>
	<div class="mt-4 mb-2 flex gap-4 vertical-align-middle">
		<div class="m-0 flex align-self-center"><i class="fa-solid fa-square-phone-flip text-3xl"></i></div>
		<div class="text-xl">{{visitingRequestDetail.contactNumber}}</div>
	</div>
	<div *ngIf="visitingRequestDetail.notes" class="mt-4 card" style="background-color: #f0f8ff4f !important;">
		<div class="text-lg mb-2 font-medium">
			{{visitingRequestDetail.status === 'N' ? 'Reason' : 'Notes'}}
		</div>
		<div class="text-justify">
			{{visitingRequestDetail.notes}}
		</div>
	</div>
</div>
