<div class="card m-auto" style="max-width: 500px">
	<div fxLayout="column" fxLayoutGap="10px">
		<div class="m-auto">
			<h2>Login</h2>
		</div>
		<div class="m-auto p-2">
			<img src="assets/images/modern-house.png" alt="" height="70px">
		</div>
		<div class="card-body">
			<form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
				<div fxLayout="column" fxLayoutGap="20px">
					<div>
						<h6 class="m-0 mb-1">Name</h6>
						<input pInputText type="text" class="form-control" required ngModel name="userName">
					</div>
					<div>
						<h6 class="m-0 mb-1">Password</h6>
						<input pInputText type="password" class="form-control" ngModel name="password">
					</div>

					<div fxLayout="row" fxLayoutGap="10px">
						<button pButton pRipple [disabled]="!loginForm.valid" [loading]="isLoading" type="submit"
							class="p-button-raised" label="Login"></button>
						<button pButton pRipple type="button" class="p-button-raised p-button-danger" label="Cancel"
							type="reset"></button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
