/* You can add global styles to this file, and also import other style files */
@import "assets/layout/styles/layout/layout.scss";
@import "assets/forms.css";
@import "assets/tabs.css";

html,
body {
	font-size: 14px;
}

body {
	// overflow-y: overlay !important;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px // background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	// border-radius: 10px;
	// background-color: #f5f5f500;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgb(29, 138, 138);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

::-webkit-scrollbar-button:horizontal:increment {
	background-color: #fff;
}

// paginator override

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
	height: 1.2rem !important;
	width: 1.2rem !important;
	min-width: 1.2rem !important;
	margin: 2px !important;
}

.p-paginator-icon {
	font-size: 1rem !important;
}

.p-paginator .p-paginator-pages .p-paginator-page {
	height: 1.5rem !important;
	width: 1.5rem !important;
	font-size: 1rem !important;
	margin: 2px !important;
	min-width: 1.5rem !important;
}

.p-paginator .p-dropdown {
	height: 2rem !important;
}

.p-paginator .p-dropdown .p-dropdown-label {
	padding: 0.25rem !important;
}

// checkbox override

.p-checkbox .p-checkbox-box.p-highlight .p-checkbox-icon.pi-check:before {
	top: 8px !important;
	left: 2px !important;
}

// button extra small
.p-button.p-button-xs {
	padding: 0.25rem 0.2rem !important;
	width: auto;
}

.p-button.p-button-icon-only.p-button-xs {
	width: 1.75rem !important;
	font-size: 0.8rem !important;
}

.border-for-test {
	border: red solid 1px;
}

// .p-overlaypanel {
//     position: fixed !important;
//     top: 0 !important;
//     left: 0 !important;
// }

.p-dialog .p-dialog-header {
	border-bottom: 0 none !important;
	background: var(--surface-100) !important;
	color: rgba(0, 0, 0, 0.87) !important;
	padding: 1rem !important;
	border-top-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
}

.p-dialog .p-dialog-content {
	padding: 1rem 1.25rem 1.25rem 1.25rem !important;
}

.p-dialog .p-dialog-footer {
	padding-bottom: 15px !important;
}

.p-dialog .p-dialog-footer button {
	margin: 0 !important;
}

.p-togglebutton.p-button.p-highlight {
	background: var(--blue-800) !important;
	color: white !important;
}

button:focus {
	outline: none;
	box-shadow: none;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
	box-shadow: none !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:focus {
	background-color: #ffffff00 !important;
}

.p-tabview-title {
	font-size: medium !important;
}

.layout-menu ul a {
	font-size: medium !important;
}

.p-tabmenu-nav a {
	font-size: medium !important;
}

.danger-confirm-popup.p-confirm-popup {
	// background: #ffe5e5 !important;
}

.danger-confirm-popup>div>button.p-confirm-popup-accept {
	background: var(--red-500) !important;
}

.p-confirm-popup {
	padding: 10px;
}

.vr-approved {
	background-color: var(--green-400) !important;
	color: white !important;
}

.vr-pending {
	background-color: var(--blue-100) !important;
}

.vr-not-approved {
	background-color: var(--bs-gray-400) !important;
}
