<div class="card">
    <div class="card-header">Add New Property</div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #Form="ngForm">
            <div class="col-12">
                <label for="name">Name</label>
                <input type="text" class="form-control" #propName="ngModel" ngModel name="Name" required minlength="5">
                <span class="error-block" *ngIf="!propName.valid && propName.touched">
                    <span *ngIf="propName.errors!['required']">Please provide name</span>
                    <span *ngIf="propName.errors!['minlength']">Name must at least 5 character long</span>
                </span>
            </div>
            <div class="form-group col-12">
                <label for="type">Type</label>
                <input type="text" class="form-control" ngModel name="Type">
            </div>
            <div class="form-group col-12">
                <label for="price">Price</label>
                <input type="text" class="form-control" ngModel name="Price">
            </div>
            <div class="form-group col-12 mt-2">
                <button [disabled]="!Form.valid" type="submit" class="btn btn-primary me-2">Save</button>
                <button type="reset" class="btn btn-primary ms-2">Cancel</button>
            </div>
        </form>
    </div>
</div>
