.ng-invalid.ng-touched {
    border-color: red;
}

.error-block {
    color: red;
}


.photo-control {
    min-height: 300px;
    vertical-align: middle;
    text-align: center;
    border: 1px dashed blue;
    margin: 5px;
}
